@import '@/styles/vatiables.scss';

.module {
	display: flex;
	flex-direction: row;
	width: 50%;

	&_title {
		min-width: 40%;

		h4 {
			padding-top: 30px;
			display: inline-block;
			border-top: 2px solid $accent-color;
		}

		@media screen and (max-width: 600px) {
			display: none;
		}
	}
	&_description {
		padding-top: 40px;
		padding-left: 20px;
		width: 100%;
		font-size: 16px;

		&_active {
			@extend .module_description;
			overflow: hidden;
		}

		@media screen and (max-width: 600px) {
			padding-top: 0;
			font-size: 15px;
			max-height: 0;
			overflow: hidden;
			transition: all 0.5s ease-in-out;

			&_active {
				padding-top: 17px;
				max-height: 800px;
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&_btn {
		position: relative;
		width: 100%;
		padding: 16px 20px 16px 60px;
		border: none;
		background-color: #f7f7f7;
		font-size: 18px;
		text-align: left;
		display: none;
		transition: all 0.1s ease-in-out;
	}
	&_btn:hover {
		cursor: pointer;
		background-color: lighten(#f7f7f7, 10%);
		transition: all 0.1s ease-in-out;
	}

	&_btn_active {
		@extend .module_btn;
		background-color: $accent-color;
		color: #fff;
	}

	&_btn_active:hover {
		background-color: darken($accent-color, 10%);
		transition: all 0.1s ease-in-out;
	}

	&_btn_img {
		position: absolute;
		top: 16px;
		left: 20px;
	}

	@media screen and (max-width: 1024px) {
		width: 100%;

		&_title {
			min-width: 30%;
		}
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;

		&_btn {
			display: flex;
		}
	}
}
